<div class="app-container">
    <div *ngIf="appStatus === 'done'" class="confetti-animation">
        <span class="confetti"></span>
        <span class="confetti"></span>
        <span class="confetti"></span>
        <span class="confetti"></span>
        <span class="confetti"></span>
        <span class="confetti"></span>
        <span class="confetti"></span>
        <span class="confetti"></span>
        <span class="confetti"></span>
        <span class="confetti"></span>
        <span class="confetti"></span>
        <span class="confetti"></span>
        <span class="confetti"></span>
        <span class="confetti"></span>
        <span class="confetti"></span>
        <span class="confetti"></span>
        <span class="confetti"></span>
        <span class="confetti"></span>
        <span class="confetti"></span>
        <span class="confetti"></span>
        <span class="confetti"></span>
        <span class="confetti"></span>
        <span class="confetti"></span>
        <span class="confetti"></span>
        <span class="confetti"></span>
        <span class="confetti"></span>
        <span class="confetti"></span>
        <span class="confetti"></span>
        <span class="confetti"></span>
        <span class="confetti"></span>
        <span class="confetti"></span>
        <span class="confetti"></span>
        <span class="confetti"></span>
        <span class="confetti"></span>
        <span class="confetti"></span>
        <span class="confetti square"></span>
        <span class="confetti square"></span>
        <span class="confetti square"></span>
        <span class="confetti square"></span>
        <span class="confetti square"></span>
    </div>
    <router-outlet></router-outlet>
    <app-cookie-consent></app-cookie-consent>
</div>
